a {
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: grey;
}


.mat-mdc-row {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }


  